
<div class="c">
    <div class="bootstrap-wrapper">
        <div class="container center" >  
            <br>
                <button routerLink="/doctor/all-appointments" style="margin-left:10px" mat-raised-button color="primary">View Appointments</button>
              
        </div>
       

    </div>
</div>

<br>
<br>
<h1 class="text-center">Appointments List</h1>
<mat-divider>
</mat-divider>

<br>
<br>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat-card class="example-card">
                    <mat-card-header>
                    
                      <mat-card-title>Appointment Requests</mat-card-title>
                      <mat-card-subtitle>Requests</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/appoirequest.jpg" height="250px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      
                    </mat-card-content>
                    <mat-card-actions>
                      <button routerLink="/doctor/all-appointments" mat-raised-button color="primary">View</button>
                   
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="example-card">
                    <mat-card-header>
                     
                      <mat-card-title>Accepted Appointments</mat-card-title>
                      <mat-card-subtitle>Accepted Appointments</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets//pat.jpg" height="250px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      
                    </mat-card-content>
                    <mat-card-actions>
                      <button routerLink="/doctor/accepted-appointments" mat-raised-button color="primary">View</button>
                     
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<mat-divider>
    
</mat-divider>