.login{
    margin-top: 120px;
    border-radius: 25px;
    width: 500px;
    position: absolute;
    margin-right: 60px;
}
.size{
    width: 100%;
}
.h{
    background-image: url("../../../assets/health.jpg");
    height: 91%;
    background-size: cover;
}
